header {
  background-color: rgb(254, 254, 254);
  display: flex;
  width: 100vw;
  height: 6vh;
  /* justify-content: start; */
  align-items: center;
}
.heading {
  margin-left: 1rem;
  padding: 2px;
  cursor: pointer;
  height: 35px;
  object-fit: fill;
  text-align: center;
}
.logoContainer {
  display: flex;
  place-content: center flex-start;
  align-items: center;
}

.login_logout {
  background-color: hsl(231, 61%, 47%);
  padding: 5px 15px 5px 15px;
  border-radius: 15px;
  margin-right: 2rem;
  cursor: pointer;
  color: aliceblue;
  font-weight: 800;
  font-style: oblique;
  letter-spacing: 1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.SearchButton {
  background-color: hsl(231, 61%, 47%);
  padding: 5px 15px 5px 15px;
  border-radius: 15px;
  /* position: absolute; */
  margin-right: 2rem;
  cursor: pointer;
  color: aliceblue;
  font-weight: 800;
  font-style: oblique;
  letter-spacing: 1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.buttonContainer {
  display: flex;
  position: absolute;
  right: 0;
  width: auto;
}
