<div class="loginContainer">
  <div class="loginText">Login Form</div>
  <div class="loginMain">
    <form
      class="loginForm"
      (ngSubmit)="onSubmit(loginForm)"
      #loginForm="ngForm"
    >
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          [formControl]="email"
          required
          name="email"
          ngModel
        />
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="your password"
          [formControl]="password"
          required
          name="password"
          ngModel
        />
        <mat-error *ngIf="password.invalid">{{
          getPasswordErrorMessage()
        }}</mat-error>
      </mat-form-field>
      <div class="loginButton">
        <button type="submit" mat-raised-button color="primary">login</button>
      </div>
    </form>
  </div>
</div>
